<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css"
              integrity="sha256-f83N12sqX/GO43Y7vXNt9MjrHkPc4yi9Uq9cLy1wGIU="
              crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"
                integrity="sha256-ZdnRjhC/+YiBbXTHIuJdpf7u6Jh5D2wD5y0SNRWDREQ="
                crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <style>
            body {
                color: #5f003c;
            }
            .btn-primary {
                background: #0086bf;
            }

            .btn-primary:hover {
                background: #00a87e;
            }

            .btn:active {
                background: #0ceab4 !important;
            }

            .btn-secondary {
                background: #666666;
            }
        </style>

    </head>
    <body>
        <div>
            {% set count = 0 %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div style="font-size:25px;margin:10px;padding:10px;color:white;text-align:center;" class="bg-primary flash">{{ message }}</div>
                    {% set count = count + 1 %}
                {% endfor %}
            {% endfor %}
            {% if count %}
                <script type="text/javascript">

                    setTimeout(function() {
                        $('.flash').fadeOut();
                    }, 5000);

                </script>
            {% endif %}

            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
